html, body, main {
    height: 100%;
    background-color: #1B2B34;
}

#ibby {
    /* font-family: 'Dancing Script', cursive; */
    /* color: #C594C5; */
    font-size: 1.5rem;
    color: #CDD3DE;
}

/* #quote {
    font-family: 'Dancing Script', cursive;
    /* font-style: italic;
    font-weight: 300; */
} */